{% extends 'base.html.twig' %}

{% block title %}New Publication{% endblock %}

{% block body %}
    <h1>Share your product </h1>

    

    {{ include('publication/_form.html.twig') }}

    <a href="{{ path('app_publication_index') }}" class="btn_3">back to list</a>
{% endblock %}
