.styled-pagination{
	position:relative;
	display:inline-block;
}

.styled-pagination li{
	position:relative;
	display:inline-block;
	margin:0px 6px 10px 0px;
}

.styled-pagination li a{
	position:relative;
	display:inline-block;
	line-height:38px;
	height:40px;
	font-size:15px;
	min-width:40px;
	color:#292b2c;
	font-weight:400;
	text-align:center;
	background:#edebe5;
	border-radius:50px;
	border:1px solid #e1e1e1;
	text-transform:capitalize;
	transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
}

.styled-pagination li a:hover,
.styled-pagination li a.active{
	color:#ffffff;
	border-color:#3fc4ed;
	background-color:#3fc4ed;
}

.styled-pagination li.next a,
.styled-pagination li.prev a{
	width:100px;
}