{% extends 'base.html.twig' %}

{% block title %}New RelationFollow{% endblock %}

{% block body %}
    <h1>Create new RelationFollow</h1>

    {{ include('relation_follow/_form.html.twig') }}

    <a href="{{ path('app_relation_follow_index') }}">back to list</a>
{% endblock %}
